anyio==4.14.2
beautifulsoup4==4.15.0
blinker==1.9.0
docutils==0.23
feedgenerator==2.2.1
idna==3.18
Jinja2==3.1.6
lxml==6.1.1
Markdown==3.10.2
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
ordered-set==4.1.0
pelican==4.12.0
Pygments==2.19.2
pypandoc==1.17
python-dateutil==2.9.0.post0
rich==15.0.0
six==1.17.0
soupsieve==2.8.4
typing_extensions==4.16.0
Unidecode==1.4.0
watchfiles==1.2.0
